# Copy this file to .env and fill every credential locally.
NODE_ENV=development

MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

JWT_SECRET=
MONGODB_URI=
POST_SERVICE_MONGODB_URI=
COMMENT_SERVICE_MONGODB_URI=
FOLLOW_SERVICE_MONGODB_URI=
FEED_SERVICE_MONGODB_URI=
PROFILE_SERVICE_MONGODB_URI=

JWT_EXPIRE=
AUTH_SERVICE_URL=
POST_SERVICE_URL=
COMMENT_SERVICE_URL=
FOLLOW_SERVICE_URL=
FEED_SERVICE_URL=
